<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Add Todo</title>
  <link rel="stylesheet" href="/add-todo.css" />
</head>

<body>

  <div class="container">
    <h2>Add Todo</h2>
    <form action="/add-todo" method="POST">
      <div class="input-group">
        <textarea name="todo" placeholder="Type here.." required></textarea>
      </div>
      <button type="submit">Add Todo</button>
    </form>
    <div class="nav-links">
      <a href="/todos">Back to Todos</a>
    </div>
  </div>

</body>

</html>