<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <title>Dashboard</title>
  <link rel="stylesheet" href="/style.css" />
</head>

<body>
  <div class="container">
    <h2>Welcome, <%= fname %>
        <%= lname %>
    </h2>
    <div class="nav-menus">
      <ul>
        <li><a href="/dashboard" class="active">Dashboard</a></li>
        <li><a href="/todos">Todos</a></li>
        <li><a href="/products">Products</a></li>
        <li><a href="/books">Books</a></li>
        <li><a href="../change-password/<%= id %>">Change Password</a></li>
        <li><a href="/logout" class="logout-btn">Logout</a></li>
      </ul>
    </div>

  </div>
</body>

</html>